/* general */

body {
    width: 1000px;
    margin: 0 auto;
    background-color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
}

/* header */

.encabezado {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
    background: url("../img/seguridad.jpg");
    background-size: contain;
    background-repeat: repeat-x;
    background-color: transparent;
}

.logo {
    font-weight: bold;
    margin-left: 30px;
    font-size: 50px;
    color: white;
}

.logo_2 {
    font-weight: bold;
    margin-left: 30px;
    font-size: xx-large;
    color: white;

}

/* main */

main {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
}

.bloque-tradu {
    width: 48%;
    height: 100%;
    border: 0px solid black;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}

.code-deco {
    width: auto;
}

.titulo1 {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: darkslategrey;
    font-style: italic;
    letter-spacing: 2px;
}

.advertir {
    text-align: left;
    font-weight: bold;
    font-size: 10px;
    margin: 5px;
    padding-bottom: 5px;
}

#codex {
    text-transform: lowercase;
    /*texto siempre a minuscula*/
    min-width: 99%;
    border-radius: 5px;
}

#decodex {
    min-width: 99%;
    border-radius: 5px;
}

.myButton {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 16px;
    padding: 6px;
    border-radius: 10px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

.myButton:hover {
    background: #1C6EA4;
}

.myButton:active {
    background: #144E75;
}

/* footer */

footer {
    background: url("../img/bg.jpg");
    padding: 40px;
    text-align: center;
    margin-top: 25px;
    border-radius: 5px;
}

.desarrollador {
    font-size: 20px;
    color: beige;
}